* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-selection) !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-text);
}

a {
  color: var(--color-link);
  text-decoration-color: var(--color-link-underline);
  text-decoration-thickness: 10%;

  &:hover {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
}

.content-box {
  margin: 0 auto;
  padding: var(--gap);
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);

  @media print {
    padding: 0;
    border: none;
  }
}
