@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Merriweather+Sans:wght@400');

html {
  font-size: var(--base-font-size);
}

body {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  color: var(--color-title);
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

small {
  font-size: 0.889em;
}

strong {
  font-weight: 900;
}

blockquote {
  padding-left: calc(var(--gap) / 2);
  border-left: 4px solid var(--color-border);
  color: var(--color-title);
}

em {
  font-style: italic;
}

ul {
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  list-style-type: disc;

  li {
    margin-bottom: 0.6em;
  }
}

ol {
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  list-style-type: decimal;

  li {
    margin-bottom: 0.6em;
  }
}
