html {
  --base-font-size: 20px;
}

body {
  --border-radius: 12px;
  --color-bg-code-block: #f8f6fd;
  --color-bg-code: #f2edfb;
  --color-bg: #fff;
  --color-border: rgba(0, 0, 0, 0.1);
  --color-link: #7648db;
  --color-selection: rgba(181, 139, 243, 0.25);
  --color-text: #444;
  --color-title: #111;
  --gap: 3rem;

  &[data-theme='dark'] {
    --color-bg-code-block: #2d2e3b;
    --color-bg-code: #343344;
    --color-bg: #161b22;
    --color-border: rgba(255, 255, 255, 0.1);
    --color-link: #b58bf3;
    --color-text: #c9d1d9;
    --color-title: #fff;
  }
}

@media screen and (max-width: 768px) {
  html {
    --base-font-size: 17px;
  }

  body {
    --gap: 1.5rem;
  }
}
