@import '@fontsource/noto-sans/400.css';
@import '@fontsource/noto-sans/700.css';
@import 'medium-zoom/dist/style.css';

@import 'variables';
@import 'mixins';
@import 'theme';

::selection {
  background-color: rgba(var(--color-border), 0.75);
}

:focus-visible {
  outline: 2px dashed rgb(var(--color-text));
}

html {
  background: rgb(var(--color-background));
  scroll-padding-top: calc(1rem * 1.7 + 2rem + 1rem);
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  color: rgb(var(--color-text));
  font-family: $baseFont;
  font-size: 18px;
  line-height: 1.7;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

main {
  width: $sm;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;

  @include media-breakpoint-down($sm) {
    padding: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  color: rgb(var(--color-heading));
  line-height: 1.2;

  a {
    line-height: normal;
  }
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
  letter-spacing: -0.0625rem;
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
  letter-spacing: -0.05rem;
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
  letter-spacing: -0.0375rem;
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
  letter-spacing: -0.025rem;
}

h5 {
  font-size: 1.25rem;
  letter-spacing: -0.0125rem;
}

h6 {
  font-size: 1rem;
  letter-spacing: -0.00625rem;
}

strong,
b {
  font-weight: 700;
}

a {
  box-shadow: inset 0 -0.4em 0 rgba(var(--color-primary), 50%);
  color: inherit;
  text-decoration: none;
  transition: box-shadow 0.3s cubic-bezier(0.3, 1, 0.2, 1);

  &:hover,
  &.active {
    box-shadow: inset 0 -3em 0 rgba(var(--color-primary), 50%);
    color: inherit;
  }
}

p {
  margin: 1em 0 1em;
}

textarea {
  width: 100%;
  font-family: $baseFont;
  font-size: 16px;
}

input {
  font-family: $baseFont;
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid rgb(var(--color-border));

  &.medium-zoom-image {
    transition-property: border, transform !important;
    z-index: 10;

    &--hidden {
      border-color: transparent;
      visibility: visible;
    }

    &--opened {
      border-radius: 0;
      border-color: transparent;
    }
  }
}

code {
  padding: 2px 4px;
  background-color: rgb(var(--color-border));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid rgb(var(--color-primary));
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.3rem;
}

hr {
  border: none;
  border-top: 2px solid rgb(var(--color-border));
}

.medium-zoom-overlay {
  background-color: rgb(var(--color-background));
  z-index: 10;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
